a:active {
	color: black;
} 
a:link {
	color: black;
}
a:visited {
	color: black;
}
body {
	background-color: #99CCFF
}
td.header-general {
	background-color: #0099FF;
}
td.section-general {
	background-color: #0099FF;
}
td.section-general-light {
	background-color: #32adff;
}
table.section-general {
	background-color: #0099FF;
}
td.header-user {
        background-color: #00E58C;
}
td.section-user {
	background-color: #00E58C;
}
td.section-user-light {
	background-color: #19FFA6;
}
table.section-user {
	background-color: #00E58C;
}
td.header-development {
        background-color: #b07ac8;
}   
td.section-development {
        background-color: #b07ac8;
}
td.section-development-light {
        background-color: #C186DC;
}
table.section-development {
        background-color: #b07ac8;
}

