RedirectMatch permanent ^/BeanScriptingFramework /docs/bsf.shtml
RedirectMatch permanent ^/doc-bsf.shtml /docs/bsf.shtml
RedirectMatch permanent ^/doc-javasupport-lowlevel.shtml /docs/java-lowlevel.shtml
RedirectMatch permanent ^/doc-javasupport-highlevel.shtml /docs/java-highlevel.shtml
RedirectMatch permanent ^/doc-javasupport-overview.shtml /docs/java-overview.shtml
RedirectMatch permanent ^/doc-milestones.shtml /
RedirectMatch permanent ^/doc-other.shtml /
RedirectMatch permanent ^/doc-todo.shtml /docs/milestones.shtml
RedirectMatch permanent ^/download-release.shtml /
RedirectMatch permanent ^/download-other.shtml /
RedirectMatch permanent ^/download-cvs.shtml /
RedirectMatch permanent ^/features.shtml /
RedirectMatch permanent ^/news.shtml /
