#macro (showsubsection $subsection)
    <li>
        #if ($subsection.link)
      	    <a href="$subsection.link">$subsection.name</a>
	#else
	    $subsection.name
        #end
	#if ($subsection.childs)
	    <ul>
	    #foreach ($subsubsection in $subsection.childs)
	        #showsubsection ($subsubsection)
	    #end
	    </ul>
	#end
    </li>
#end
